.dark-medium-contrast {
  --md-sys-color-primary: rgb(138 214 237);
  --md-sys-color-surface-tint: rgb(133 209 232);
  --md-sys-color-on-primary: rgb(0 25 32);
  --md-sys-color-primary-container: rgb(77 155 176);
  --md-sys-color-on-primary-container: rgb(0 0 0);
  --md-sys-color-secondary: rgb(182 207 215);
  --md-sys-color-on-secondary: rgb(2 25 31);
  --md-sys-color-secondary-container: rgb(125 149 156);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(196 200 239);
  --md-sys-color-on-tertiary: rgb(15 20 49);
  --md-sys-color-tertiary-container: rgb(138 142 179);
  --md-sys-color-on-tertiary-container: rgb(0 0 0);
  --md-sys-color-error: rgb(255 186 177);
  --md-sys-color-on-error: rgb(55 0 1);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(15 20 22);
  --md-sys-color-on-background: rgb(222 227 230);
  --md-sys-color-surface: rgb(15 20 22);
  --md-sys-color-on-surface: rgb(246 251 254);
  --md-sys-color-surface-variant: rgb(64 72 75);
  --md-sys-color-on-surface-variant: rgb(195 204 208);
  --md-sys-color-outline: rgb(155 164 168);
  --md-sys-color-outline-variant: rgb(124 133 136);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 227 230);
  --md-sys-color-inverse-on-surface: rgb(37 43 45);
  --md-sys-color-inverse-primary: rgb(0 79 95);
  --md-sys-color-primary-fixed: rgb(176 236 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 25);
  --md-sys-color-primary-fixed-dim: rgb(133 209 232);
  --md-sys-color-on-primary-fixed-variant: rgb(0 60 72);
  --md-sys-color-secondary-fixed: rgb(206 231 239);
  --md-sys-color-on-secondary-fixed: rgb(0 20 25);
  --md-sys-color-secondary-fixed-dim: rgb(178 203 211);
  --md-sys-color-on-secondary-fixed-variant: rgb(35 57 64);
  --md-sys-color-tertiary-fixed: rgb(222 224 255);
  --md-sys-color-on-tertiary-fixed: rgb(9 14 44);
  --md-sys-color-tertiary-fixed-dim: rgb(192 196 235);
  --md-sys-color-on-tertiary-fixed-variant: rgb(47 52 83);
  --md-sys-color-surface-dim: rgb(15 20 22);
  --md-sys-color-surface-bright: rgb(52 58 60);
  --md-sys-color-surface-container-lowest: rgb(9 15 17);
  --md-sys-color-surface-container-low: rgb(23 28 30);
  --md-sys-color-surface-container: rgb(27 32 34);
  --md-sys-color-surface-container-high: rgb(37 43 45);
  --md-sys-color-surface-container-highest: rgb(48 54 56);
  --md-extended-color-green-color: rgb(169 215 153);
  --md-extended-color-green-on-color: rgb(0 28 0);
  --md-extended-color-green-color-container: rgb(113 156 100);
  --md-extended-color-green-on-color-container: rgb(0 0 0);
  --md-extended-color-yellow-color: rgb(208 207 122);
  --md-extended-color-yellow-on-color: rgb(23 23 0);
  --md-extended-color-yellow-color-container: rgb(149 148 70);
  --md-extended-color-yellow-on-color-container: rgb(0 0 0);
}
